PORT=3003
HOST=127.0.0.1
NODE_ENV=production
ALLOWED_ORIGIN=http://127.0.0.1:3003

CAMERAS_PER_VM=500
MAX_VM_COUNT=5000

# Root of your existing infra repo (contains terraform/ and ansible/)
INFRA_ROOT=/home/sanket/ele-infra

# Existing Terraform directory
TERRAFORM_DIR=/home/sanket/ele-infra/terraform
TERRAFORM_BIN=terraform
REQUIRE_AZ_LOGIN=true
USE_STATIC_TFVARS=true
TERRAFORM_STATIC_TFVARS=/home/sanket/ele-infra/terraform/terraform.tfvars
TERRAFORM_WEB_TFVARS=/home/sanket/ele-infra/terraform/terraform.tfvars

# Map these to your variables.tf names if different
TF_PROJECT_VAR=project_name
TF_CAMERA_COUNT_VAR=camera_count
TF_VM_COUNT_VAR=vm_count
TF_VM_NAMES_VAR=vm_names
